*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
}
.btn{
    border: none;
    padding: 18px 36px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2 {
    margin-bottom: 30px;
    font-size: 35px;
    /* font-weight: bold; */
    /* color: #181818; */
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav {
    margin: 0 auto;
    width: 71%;
    max-width: 1140;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
nav .logo h2{
    font-size: 45px;
    font-weight: 900px;
}
h2 .orange-color{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}

#banner{
    /* border: 2px solid red; */
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    margin-top: 20px;
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.banner-content p{
    margin-top: 20px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    height: 676px;
    width: 584px;
    vertical-align: middle;
}

#about {
    padding-top: 130px;
    /* margin: 0 auto; */
}
#about .about-container {
    width: 71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    padding: 131px 157px;
    /* justify-content: center; */
    margin: 0 auto;
    text-align: center;
}
.about-container .about-info {
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
.info-card h4 {
    font-size: 18px;
    font-weight: bold;
}

#skill {
    padding-top: 130px;
}
#skill .skill-container {
    width: 71%;
    max-width: 1140;
    margin: 0 auto;
    /* border: 3px solid red; */
}
.skill-container .skill-box {
    display: flex;
    /* justify-content: space-between; */
    gap: 27px;
}
.skill-box .skill-card {
    padding: 30px;
    background-color: white;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.13);
}
.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h4{
    font-size: 20;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}