*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold; */
}
.btn{
    border: none;
    padding: 18px 36px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
/* main style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
nav {
    margin: 0 auto;
    /* border: 10px solid red; */
    width: 71%;
    max-width: 1140;
    display: flex;
    gap: 27px;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    gap: 27px;
    list-style: none;
    align-items: center;
    font-size: 20px;
}
nav a{
    text-decoration: none;
}
.logo{
    font-size: 45px;
    font-weight: bolder;
}
.orange-color{
    color: #FD6E0A;
}

#banner{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 46px 38px 0px 230px;
}
.banner-content{
    max-width: 585px;
}
.banner-content h3{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    margin-top: 5px;
    font-size: 85px;
    font-weight: 700px;
    color: black;
}
.banner-content p{
    margin-top: 20px;
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    height: 676px;
    width: 584px;
    vertical-align: middle;
}